* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('/ShadowsIntoLight-Regular.ttf');
  font-family: 'Shadows Into Light';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

img {
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 184px;
  width: 184px;
}

h1 {
  font-family: 'Shadows Into Light', system-ui;
  font-size: 3rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  & > a {
    text-decoration: none;
    font-size: 1.3rem;
    color: lightblue;

    &:hover {
      color: teal;
    }
  }
}
