---
import '../styles/global.css';
interface Props {
  title: string
}

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="author" content="gesteratops" />
    <meta name="description" content="gesteratops" />
		<title>{title}</title>
	</head>
	<body>
    <slot />
	</body>
</html>

<script>
console.log(`
┌─┐┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐┌┬┐┌─┐┌─┐┌─┐
│ ┬├┤ └─┐ │ ├┤ ├┬┘├─┤ │ │ │├─┘└─┐
└─┘└─┘└─┘ ┴ └─┘┴└─┴ ┴ ┴ └─┘┴  └─┘
`)
</script>
